<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/">e-Rēķini Tester</a>
      <ul class="navbar-nav nav-tabs ms-auto">
        <li class="nav-item"><a class="nav-link text-white" href="/cert">Generate Certificate</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/">Config</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/invoice">Invoice</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/schema">Schema</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/send">Send</a></li>
      </ul>
    </div>
  </nav>
</header>
